In [28]:
from matplotlib.image import imread
import numpy as np
import datetime
import pandas as pd

<img src="images.jpg" width=250 height=100 />

In [26]:
image1 = imread("images.jpg")

In [3]:
type(image1)

numpy.ndarray

In [4]:
image1.size

150975

In [5]:
image1.shape

(183, 275, 3)

In [6]:
image1.ndim

3

In [7]:
image1[182]

array([[ 29,  63,   2],
       [ 40,  55,   0],
       [ 59,  65,  17],
       [ 54,  78,  26],
       [ 65, 105,  52],
       [ 49,  81,  34],
       [  0,  11,   0],
       [  0,  16,   0],
       [  0,  44,   1],
       [  4,  65,  21],
       [  4,  52,  14],
       [ 58, 102,  66],
       [ 83, 148, 105],
       [ 45, 133,  82],
       [ 47, 131,  81],
       [ 23,  88,  45],
       [ 31,  34,  17],
       [ 69,  70,  56],
       [ 68,  65,  56],
       [ 37,  34,  27],
       [ 40,  43,  34],
       [ 21,  35,  20],
       [ 13,  43,  15],
       [ 34,  81,  39],
       [ 32,  95,  38],
       [ 23,  94,  26],
       [ 42, 112,  40],
       [ 53, 112,  44],
       [ 65, 105,  45],
       [ 58,  76,  28],
       [ 69,  67,  29],
       [ 20,   7,   0],
       [  0,  37,   8],
       [  1,  34,   7],
       [  0,  26,   1],
       [ 19,  36,  17],
       [  2,  11,   0],
       [  4,  11,   0],
       [ 17,  26,   9],
       [  5,  20,   1],
       [  0,  17,   0],
       [  0,  14,   0],
       [ 27,  71,  35],
       [ 79, 130,  87],
       [ 21,  74,  28],
       [ 26,  80,  31],
       [ 12,  66,  16],
       [  0,  45,   0],
       [  0,  48,   0],
       [ 34, 108,  33],
       [ 50, 143,  52],
       [ 35, 109,  24],
       [ 66,  93,  38],
       [ 28,  18,   0],
       [ 27,  19,   0],
       [ 28,  44,   7],
       [ 20,  58,   0],
       [ 87, 119,  52],
       [ 92, 109,  54],
       [ 50,  58,  21],
       [ 45,  59,  34],
       [ 26,  49,  21],
       [  5,  30,   0],
       [ 47,  67,  18],
       [ 10,  31,   0],
       [ 47,  68,  37],
       [ 34,  53,  25],
       [ 54,  68,  43],
       [ 62,  74,  52],
       [ 53,  60,  42],
       [  3,   5,   0],
       [ 13,  13,   1],
       [ 32,  30,  18],
       [ 26,  24,  12],
       [  5,   1,   0],
       [  8,   6,   0],
       [ 11,   9,   0],
       [ 18,  17,   0],
       [ 57,  58,  40],
       [ 78,  80,  59],
       [ 43,  34,  17],
       [ 23,  17,   1],
       [ 27,  26,   8],
       [ 26,  34,  13],
       [ 25,  39,  16],
       [ 26,  46,  19],
       [ 64,  89,  57],
       [ 28,  56,  18],
       [ 23,  56,  11],
       [ 45,  82,  30],
       [112, 153,  95],
       [ 84, 132,  70],
       [ 42,  97,  32],
       [ 14,  75,   8],
       [  0,  55,   0],
       [ 13,  82,  15],
       [ 66,  90,  54],
       [ 55,  79,  43],
       [ 40,  66,  31],
       [ 30,  55,  23],
       [ 50,  77,  44],
       [112, 141, 110],
       [125, 156, 125],
       [ 62,  93,  62],
       [ 47,  77,  49],
       [ 30,  60,  32],
       [ 35,  64,  36],
       [ 43,  69,  42],
       [ 38,  63,  34],
       [ 61,  86,  57],
       [ 72,  95,  67],
       [ 28,  51,  23],
       [ 27,  30,  13],
       [ 27,  28,  12],
       [ 53,  52,  34],
       [ 55,  49,  33],
       [ 59,  52,  34],
       [ 69,  64,  45],
       [ 45,  44,  23],
       [ 24,  29,   6],
       [ 14,  27,   0],
       [ 23,  40,   8],
       [ 13,  32,   0],
       [ 20,  37,   3],
       [ 28,  39,   7],
       [ 38,  43,  11],
       [ 63,  62,  32],
       [ 43,  38,   9],
       [ 25,  26,  12],
       [ 12,   9,   0],
       [118, 112,  90],
       [ 79,  70,  41],
       [ 78,  65,  33],
       [ 97,  84,  49],
       [ 87,  77,  42],
       [ 40,  36,   1],
       [ 72,  71,  41],
       [ 71,  74,  47],
       [ 78,  82,  57],
       [ 30,  30,   6],
       [ 32,  28,   1],
       [ 28,  17,   0],
       [ 76,  60,  27],
       [ 98,  79,  46],
       [ 96,  78,  56],
       [ 92,  77,  54],
       [ 46,  35,  13],
       [ 61,  55,  33],
       [ 53,  48,  26],
       [ 66,  64,  41],
       [ 59,  55,  28],
       [ 93,  86,  58],
       [ 74,  65,  32],
       [ 84,  76,  40],
       [146, 141, 101],
       [117, 118,  76],
       [111, 120,  75],
       [ 62,  81,  35],
       [ 30,  58,  10],
       [ 91, 123,  74],
       [ 41, 132,  37],
       [ 59, 148,  54],
       [ 61, 144,  56],
       [ 56, 129,  48],
       [ 61, 124,  53],
       [ 60, 114,  52],
       [ 21,  64,  11],
       [ 26,  58,  17],
       [  9,  33,   1],
       [  3,  18,   0],
       [  0,   5,   0],
       [ 27,  30,  21],
       [ 63,  64,  58],
       [ 37,  36,  34],
       [ 41,  40,  38],
       [ 62,  60,  61],
       [  0,   6,   0],
       [  0,   7,   0],
       [ 27,  45,  19],
       [ 49,  70,  37],
       [  4,  31,   0],
       [ 20,  51,   9],
       [ 16,  48,   7],
       [  2,  34,   0],
       [  2,  33,   2],
       [  1,  29,   6],
       [ 15,  38,  18],
       [ 13,  32,  13],
       [ 12,  27,   8],
       [  2,  14,   0],
       [ 35,  44,  17],
       [ 68,  74,  46],
       [ 32,  71,  18],
       [ 48,  99,  42],
       [ 35,  99,  39],
       [ 19,  85,  24],
       [  9,  59,   6],
       [ 21,  52,  10],
       [ 60,  82,  44],
       [ 69,  95,  58],
       [  6,  44,   7],
       [ 49,  93,  57],
       [ 23,  60,  29],
       [  0,  10,   0],
       [  0,   4,   0],
       [  0,   4,   0],
       [  0,  15,   0],
       [  0,  27,   5],
       [  0,   6,   0],
       [  2,  10,   0],
       [  5,   7,   2],
       [ 19,  19,  19],
       [  3,   1,   6],
       [  1,   0,   5],
       [  0,   1,   0],
       [  6,  19,   9],
       [ 11,  33,  12],
       [ 12,  41,  11],
       [ 18,  49,  15],
       [ 23,  53,  19],
       [ 24,  47,  19],
       [ 21,  36,  15],
       [ 15,  23,   8],
       [ 11,  14,   3],
       [ 22,  19,  14],
       [ 18,  19,  13],
       [ 17,  23,  11],
       [ 11,  24,   6],
       [ 38,  61,  35],
       [ 32,  61,  30],
       [ 26,  62,  24],
       [ 66, 107,  65],
       [ 16,  59,  16],
       [  0,  33,   0],
       [  9,  47,   8],
       [ 19,  53,  20],
       [  0,  29,   0],
       [ 18,  42,  18],
       [  1,  20,   0],
       [ 10,  27,   9],
       [  6,  15,   0],
       [ 14,  30,   3],
       [ 37,  66,  38],
       [ 38,  72,  47],
       [ 27,  59,  36],
       [ 33,  52,  33],
       [ 70,  74,  57],
       [ 51,  44,  26],
       [ 39,  33,  11],
       [ 45,  48,  19],
       [ 32,  49,  15],
       [ 17,  44,  11],
       [ 16,  42,  15],
       [  8,  25,   9],
       [ 12,  14,   9],
       [ 37,  31,  33],
       [ 85, 118,  91],
       [ 96, 129, 102],
       [ 77, 110,  83],
       [ 73, 106,  77],
       [ 44,  77,  48],
       [  5,  38,   9],
       [ 21,  54,  23],
       [ 38,  69,  38],
       [  7,  37,   9],
       [ 20,  49,  21],
       [ 20,  46,  19],
       [  0,  10,   0],
       [  0,  19,   0],
       [  2,  21,   1],
       [ 11,  28,  10],
       [  0,  14,   0],
       [ 22,  60,  19],
       [ 21,  59,  18],
       [ 19,  57,  16]], dtype=uint8)

In [8]:
image2 = imread("Black-windows-542931.jpg")

In [9]:
image2.size, image2.shape, image2.ndim

(6912000, (1200, 1920, 3), 3)

In [10]:
image2[1199, 1900]

array([2, 0, 1], dtype=uint8)

In [22]:
a = np.random.randint(10, 99, size=250000, dtype=np.int64)
b = np.random.randint(10, 99, size=250000, dtype=np.int64)

In [23]:
numpy1 = datetime.datetime.now()
r_numpy = np.dot(a, b)
numpy2= datetime.datetime.now()
time_numpy = numpy2-numpy1
r_numpy, time_numpy

(728161362, datetime.timedelta(microseconds=998))

In [24]:
python1 = datetime.datetime.now()
r_python = 0
for i,j in zip(a,b):
    r_python += i*j
python2= datetime.datetime.now()
time_python = python2-python1
r_numpy, time_python

(728161362, datetime.timedelta(microseconds=146906))

In [25]:
time_python/ time_numpy

147.2004008016032

In [32]:
numberOFsale= np.random.randint(5,10 ,size=(7 , 3))
numberOFsale

array([[7, 6, 5],
       [7, 9, 6],
       [7, 5, 8],
       [5, 9, 6],
       [7, 6, 5],
       [5, 8, 5],
       [7, 5, 5]])

In [35]:
Sales=pd.DataFrame(numberOFsale, index=["Satureday", "Sunday", "Monday", "Thuseday","Wednesday","Thursday","Friday"], columns=["shalvar", "Shirt","T_shirt"])
Sales

           shalvar  Shirt  T_shirt
Satureday        7      6        5
Sunday           7      9        6
Monday           7      5        8
Thuseday         5      9        6
Wednesday        7      6        5
Thursday         5      8        5
Friday           7      5        5

In [45]:
Price = np.array([150, 300, 90])
Price.shape=(1, 3)
Price

array([[150, 300,  90]])

In [43]:
Cloth_Price = pd.DataFrame(Price, index=["Price"], columns=["shalvar", "Shirt","T_shirt"])
Cloth_Price

       shalvar  Shirt  T_shirt
Price      150    300       90

In [44]:
Price.shape

(1, 3)

In [46]:
Sales=pd.DataFrame(numberOFsale, index=["Satureday", "Sunday", "Monday", "Thuseday","Wednesday","Thursday","Friday"], columns=["shalvar", "Shirt","T_shirt"])
Sales

           shalvar  Shirt  T_shirt
Satureday        7      6        5
Sunday           7      9        6
Monday           7      5        8
Thuseday         5      9        6
Wednesday        7      6        5
Thursday         5      8        5
Friday           7      5        5

In [47]:
Cloth_Price = pd.DataFrame(Price, index=["Price"], columns=["shalvar", "Shirt","T_shirt"])
Cloth_Price

       shalvar  Shirt  T_shirt
Price      150    300       90

In [50]:
Advantage = Cloth_Price.dot(Sales.T)
Advantage

       Satureday  Sunday  Monday  Thuseday  Wednesday  Thursday  Friday
Price       3300    4290    3270      3990       3300      3600    3000

In [53]:
Sales["Total Advantage"] = Advantage.T
Sales

           shalvar  Shirt  T_shirt  Total Advantage
Satureday        7      6        5             3300
Sunday           7      9        6             4290
Monday           7      5        8             3270
Thuseday         5      9        6             3990
Wednesday        7      6        5             3300
Thursday         5      8        5             3600
Friday           7      5        5             3000

In [57]:
c1 = np.arange(1, 25).reshape(2, 3, 4)
c1

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [58]:
c2 = c1
c2

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [59]:
c2 == c1

array([[[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]],

       [[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]]])

In [60]:
c2 is c1

True

In [61]:
id(c2), id(c1)

(1815936245264, 1815936245264)

In [65]:
c1[1, 0, 0] = 999
c1

array([[[  1,   2,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[999,  14,  15,  16],
        [ 17,  18,  19,  20],
        [ 21,  22,  23,  24]]])

In [66]:
c2

array([[[  1,   2,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[999,  14,  15,  16],
        [ 17,  18,  19,  20],
        [ 21,  22,  23,  24]]])

In [67]:
#shadow_copy
c3 = c1.view()
c3

array([[[  1,   2,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[999,  14,  15,  16],
        [ 17,  18,  19,  20],
        [ 21,  22,  23,  24]]])

In [68]:
c1[0, 0, 0] = 999
c1

array([[[999,   2,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[999,  14,  15,  16],
        [ 17,  18,  19,  20],
        [ 21,  22,  23,  24]]])

In [69]:
c3

array([[[999,   2,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[999,  14,  15,  16],
        [ 17,  18,  19,  20],
        [ 21,  22,  23,  24]]])

In [70]:
c3 == c1

array([[[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]],

       [[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]]])

In [71]:
c3 is c1

False

In [72]:
id(c1), id(c3)

(1815936245264, 1815936131792)

In [73]:
#Deep_copy
c4 = np.copy(c1)
c4

array([[[999,   2,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[999,  14,  15,  16],
        [ 17,  18,  19,  20],
        [ 21,  22,  23,  24]]])

In [74]:
c4 == c1

array([[[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]],

       [[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]]])

In [75]:
c4 is c1

False

In [77]:
c4[0, 0, 1] = 999
c4

array([[[999, 999,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[999,  14,  15,  16],
        [ 17,  18,  19,  20],
        [ 21,  22,  23,  24]]])

In [78]:
c1

array([[[999,   2,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[999,  14,  15,  16],
        [ 17,  18,  19,  20],
        [ 21,  22,  23,  24]]])

In [79]:
c3[0, 0, 1]=999
c3

array([[[999, 999,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[999,  14,  15,  16],
        [ 17,  18,  19,  20],
        [ 21,  22,  23,  24]]])

In [80]:
c1

array([[[999, 999,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[999,  14,  15,  16],
        [ 17,  18,  19,  20],
        [ 21,  22,  23,  24]]])

In [81]:
d = np.arange(24)
d

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [82]:
d.shape=(2, 3, 4)
d

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [83]:
d_reshape= d.reshape((2, 12))
d_reshape

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]])

In [84]:
d

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [86]:
d_reshape[0, 0] = 999
d_reshape

array([[999,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11],
       [ 12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23]])

In [87]:
d

array([[[999,   1,   2,   3],
        [  4,   5,   6,   7],
        [  8,   9,  10,  11]],

       [[ 12,  13,  14,  15],
        [ 16,  17,  18,  19],
        [ 20,  21,  22,  23]]])

In [88]:
d is d_reshape

False

In [89]:
#flatten
#ravel

In [90]:
f = np.arange(10)
f

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [92]:
g = np.append(f, [10, 11])
g

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [93]:
h = np.random.randint(1, 99, size=24).reshape(2, 3, 4)
h

array([[[62, 19, 91, 36],
        [61, 81, 87, 28],
        [28,  7, 81, 45]],

       [[45, 10, 86, 73],
        [28, 54, 57, 33],
        [88, 18, 22, 72]]])

In [94]:
k = np.random.randint(1, 99, size=24).reshape(2, 3, 4)
k

array([[[53, 95, 75,  1],
        [ 5, 26, 84, 82],
        [57, 11, 33, 92]],

       [[11, 67, 88, 98],
        [93, 50, 45, 39],
        [33, 21, 91, 28]]])

In [103]:
hk = np.append(h, k)
hk

array([62, 19, 91, 36, 61, 81, 87, 28, 28,  7, 81, 45, 45, 10, 86, 73, 28,
       54, 57, 33, 88, 18, 22, 72, 53, 95, 75,  1,  5, 26, 84, 82, 57, 11,
       33, 92, 11, 67, 88, 98, 93, 50, 45, 39, 33, 21, 91, 28])

In [109]:
hk0 = np.append(h, k, axis=0)
hk0

array([[[62, 19, 91, 36],
        [61, 81, 87, 28],
        [28,  7, 81, 45]],

       [[45, 10, 86, 73],
        [28, 54, 57, 33],
        [88, 18, 22, 72]],

       [[53, 95, 75,  1],
        [ 5, 26, 84, 82],
        [57, 11, 33, 92]],

       [[11, 67, 88, 98],
        [93, 50, 45, 39],
        [33, 21, 91, 28]]])

In [108]:
hk0.shape

(4, 3, 4)

In [107]:
hk1 = np.append(h, k, axis=1)
hk1

array([[[62, 19, 91, 36],
        [61, 81, 87, 28],
        [28,  7, 81, 45],
        [53, 95, 75,  1],
        [ 5, 26, 84, 82],
        [57, 11, 33, 92]],

       [[45, 10, 86, 73],
        [28, 54, 57, 33],
        [88, 18, 22, 72],
        [11, 67, 88, 98],
        [93, 50, 45, 39],
        [33, 21, 91, 28]]])

In [106]:
hk1.shape

(2, 6, 4)

In [101]:
hk2 = np.append(h, k, axis=2)
hk2

array([[[62, 19, 91, 36, 53, 95, 75,  1],
        [61, 81, 87, 28,  5, 26, 84, 82],
        [28,  7, 81, 45, 57, 11, 33, 92]],

       [[45, 10, 86, 73, 11, 67, 88, 98],
        [28, 54, 57, 33, 93, 50, 45, 39],
        [88, 18, 22, 72, 33, 21, 91, 28]]])

In [110]:
hk2.shape

(2, 3, 8)

In [111]:
h

array([[[62, 19, 91, 36],
        [61, 81, 87, 28],
        [28,  7, 81, 45]],

       [[45, 10, 86, 73],
        [28, 54, 57, 33],
        [88, 18, 22, 72]]])

In [119]:
k

array([[[53, 95, 75,  1],
        [ 5, 26, 84, 82],
        [57, 11, 33, 92]],

       [[11, 67, 88, 98],
        [93, 50, 45, 39],
        [33, 21, 91, 28]]])

In [113]:
#insert
#copyto
#empty
#POOOOOOOOOOOOOOOOOOOr karbord ****concatenate****

In [120]:
j1 = np.delete(k, 0, axis=2)
j1

array([[[95, 75,  1],
        [26, 84, 82],
        [11, 33, 92]],

       [[67, 88, 98],
        [50, 45, 39],
        [21, 91, 28]]])